@import "../../styles-variables";

.re-header {
    position: relative;

    .re-header-image {
        height: $header-image-height; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; 

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            opacity: .6; 
        }
    }
    
    .re-title {
        position: absolute;
        top: 0;
        display: inline-block;
        width: 100%;

        .re-title-detail {
            text-align: center;
            color: white;

            &.name {
                font-size: 3rem;
            }

            &.position {
                font-size: 2rem;
            }
        }
    }

    .re-contact-section {
        position: absolute;
        bottom: 0;
        width: 100%;

        .re-contact-detail {
            padding-right: 1rem;
            color: $contrast-text-color;
        }
    }
}

.re-main {
    padding: 2rem 4rem;    
    
    .re-avatar-image-wrapper {
    
        img {
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 50%;
        }
    }   
    
    .re-languages {

        .re-language {

            .re-language-name {
                margin-right: 0.5rem;
            }
        }
    }
}
