$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$major-color: #031a6d;
$major-second-color: #012f2e;
$minor-color: #35478a;
$light-color: #b3bad3;
$neutral-color: #d3d3d3;

$header-image-height: 20rem;
$avatar-size: 12rem;

$regular-text-color: #000000;
$contrast-text-color: #FFFFFF;
$secondary-text-color: #7c7c7c;