$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$majorColor: #031a6d;
$majorSecondColor: #012f2e;
$minorColor: #35478a;
$lightColor: #b3bad3;
$neutralColor: #d3d3d3;

$header-image-height: 20rem;
$avatar-size: 12rem;

$regularTextColor: #000000;
$contrastTextColor: #FFFFFF;
$secondaryTextColor: #7c7c7c;