@import "../styles-variables";

.rb-body {
    min-height: 100vh;

    .rb-header {
        background-image: linear-gradient(to bottom right, $major-second-color, $major-color);
        min-height: 4rem;

        .rb-header-text {
            display: block;
            font-size: 1.5rem;
            padding: 0 2rem;
            color: $contrast-text-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .rb-main {
        flex: 1;
    }

    .rb-footer {
        min-height: 4rem;

        .rb-footer-text {
            text-align: center;
            color: $major-color;
        }
    }
}