$majorColor: #044022;
$minorColor: #5E8571;
$lightColor: #BDCDC5;
$neutralColor: #D3D3D3;

.rb-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
        background-color: $minorColor;
        min-height: 4rem;
    }

    main {
        flex: 1;
    }

    footer {
        min-height: 4rem;
        background-color: $lightColor;
    }
}