@import "../styles-variables";

.rb-body {
    min-height: 100vh;

    .rb-header {
        background-image: linear-gradient(to bottom right, $majorSecondColor, $majorColor);
        min-height: 4rem;

        .rb-header-text {
            font-size: 1.5rem;
            padding: 0 2rem;
            color: $contrastTextColor;
        }
    }

    .rb-main {
        flex: 1;
    }

    .rb-footer {
        min-height: 4rem;

        .rb-footer-text {
            text-align: center;
            color: $majorColor;
        }
    }
}